.fixed-nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 20%;
  height: 100%;
}

.has-error {
    border-color: red;
    background-color: #ffd1c5;
}

.has-change {
    border-color: yellow;
    background-color: #fffdbf;
}